
$tablet: 1090px;
$mobile: 560px;

.error404 {

	.article-body {
		margin-top: 100px;
		text-align: center;
	}

	#searchform {
		margin-top: 30px;

		.searchform-wrapper {
			
			position: relative;
			display: inline-block;
			background-color:$subtle-light-grey;
			padding: 0 20px;
			height: 52px;
			width: 440px;

			@media screen and (max-width: $tablet) {
				width: 80%;
			}

			label {
				position: absolute;
				text-transform:uppercase;
				left:20px;
				height: 52px;
				line-height: 52px;
				z-index: 999;
				font:{
					size:0.9em;
				}
				@extend .futura;
			}

			input[type="text"] {
				width: 100%;
				border:0;
				background-color:$subtle-light-grey;
				text-transform:uppercase;
				font:{
					size:0.9em;
				}
				@include boxSizing(16px 0 16px 100px);
				@extend .futura;
			}

			.icon-search {
				position:absolute;
				top:0;
				right:0;
				width: 52px;
				height: 52px;
				background:none;
				border:none;
				color:black;
				padding:0;
				font-size: 1.3em;
				@include border-radius(0px);
			}
		}		
	}
}

.single-post-template{

	opacity:0;

	&.show{

		opacity: 1;
	}

	img.max {
		width: 100%;
	}

	article .container{

		overflow: hidden;
	}

	.container {

		@media screen and (max-width: $mobile) {
			padding: 0;
		}
	}

	.share-bar{

		padding: 30px 0;

		@media screen and (max-width: $mobile) {
			display: none;
		}

		@media screen and (max-width: $tablet) {
			padding: 30px 0 20px 0;
		}

		.icon {
			display: inline-block;
			margin-left: 5px;
		}

		a {

			margin-left:10px;
			color: #706d73;
			letter-spacing: 1px;
			@include single-transition(all, 0.5s, ease);

			&:first-child{

				margin-left:0;
			}

			&.share-print,
			&.share-email {
				&:hover {
					border-color: #f3c5bf;
				}
			}

			&.share-fb {
				&:hover {
					color: #3b5998;
					border-color: #c4cde0;
				}
			}

			&.share-twitter {
				&:hover {
					color: #55acee;
					border-color: #cce6fa;
				}
			}
		}

		.commentlink{

			float: right;
			margin-top:-5px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	.col-wide {

		@include shift("push",3);
		@include grid-col-last(6);

		@media screen and (max-width:$tablet){
			@include shift("push",1);
			@include grid-col-last(10);
		}
	}

	.folded-corner {

		position: relative;

		&:before, 
		&:after {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			content: "";
		}

		&:before {
			border-top: solid 15px #fff;
			border-right: solid 15px #fff;
			border-left: solid 15px transparent;
			border-bottom: solid 15px transparent;
		}
	}

	.article-section {
		color: $primary-orange;
		padding: 12px 0;	
		font-weight: 500;

		@include keyline(top,$light-keyline);	
	}

	.article-date {
		color:$comment-grey;
		font-weight: 300;
	}	

	.article-body{

		-webkit-perspective:1000;
		perspective: 1000;
		margin-top: 10px;
		margin-bottom: 40px;
		word-wrap: break-word;
		@include shift("push",3);
		@include grid-col-last(6);

		h2 {

			font-size: 2.222em;
			line-height: 50px;
			margin-bottom: 10px;

			@media(max-width: $mobile) {
				font-size: 22px;
				line-height: 27px;
				@include grid-col-last(12);
			}
		}

		.body-copy{

			h2,h3,h4,h5,h6{

				font-size: 30px;

				@media(max-width: $mobile) {
					font-size: 1.111em;
				}				
			}

			h1 {
				@media(max-width: $mobile) {
					font-size: 1.3em;
				}
			}
		}

		p, 
		figcaption {

			
			font:{
				size: 1.111em;
				family:$times;
			}
			line-height: 1.778em;

			@media(max-width: $mobile) {
				font:{
					size: 0.833em;
				}
				line-height: 1.6em;		
			}
		}

		ol,ul{

			margin-bottom:2em;
			padding-left:20px;

			li{

				line-height: 1.6em;

				@media(max-width: $mobile) {
					font:{
						size: 0.833em;
					}	
				}
			}
		}

		ol li{

			list-style-type: decimal;
		}

		ul li{

			list-style: initial;
		}

		blockquote{

			margin: 0 -13% 1em -13%;
			text-align:center;
		}

		img{

			max-width: 100%;
			margin-bottom: 2em;

			@media screen and (max-width: $mobile) {
				margin-bottom: 1em;
			}

			&.right{

				float: right;
				margin: 0 -13% 0 1em;
			}
		}

		.author {
			font-weight: 500;
			margin-bottom: 0;
			letter-spacing: 0;
		}

		.article-meta {
			margin-bottom: 20px;
		}

		.article-date {
			margin-top: 10px;
			font-size: .8em;
		}

		.article-summary {

			background-color: $subtle-light-grey;
			margin-bottom: 20px;						
			font-family: $futura;
			font-size: 16px;
			line-height: 22px;

			@media (max-width: $mobile) {
				font-size: 14px;
			}

			.inner {				
				padding: 20px 15px;		

				.book-title {
					font-weight: bold;
					color: $comment-grey;
				}

				.inner-wrapper {
					width: 70%;

					@media (max-width: $mobile) {
						width: 95%;
					}
				}

				.summary-top {
					padding-bottom: 10px;		
				}

				.summary-bottom {
					padding-top: 10px;	
					border-top: 1px solid $light-keyline;
				}

			}
		}

		@media screen and (max-width:$large){

			@include shift("push",2);
			@include grid-col-last(8);

		}

		@media screen and (max-width:$tablet){

			@include shift("push",1);
			@include grid-col-last(10);

			blockquote{

				text-align: left;
				margin-right:0;
				margin-left:0;
			}

			img{

				margin-left:0;

				&.right{

					margin-right:0;
				}
			}
		}

	}

	.article-current{

		background-color: white;

		&.turn{
			
			@include animation(pageTurn,linear,0.6s);
		}
	}

	.fold{

		display: none;
		background-color: white;
		z-index: 999;
		@include fitParent("",0,20px,0,20px);

		&.turnleft{

			display: block;
			-webkit-transform-style: preserve-3d;
			@include animation(pageTurnLeft,linear,0.4s);

		}

		&.turnright{

			display: block;
			-webkit-transform-style: preserve-3d;
			@include animation(pageTurnRight,linear,0.4s);
		}
	}

	#subscribe-form-wrapper {

		background-color: $subtle-light-grey;
		padding: 25px;
		margin-top: 20px;

		.futura {
			font-weight: 500;
			letter-spacing: 0;
			margin-bottom: 20px;
		}

		.form {

			.form-item {

				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}

				input[type="email"],
				input[type="password"] {
					width: 90%;
					font-size: 1em;
					height: 20px;
					padding: 5px;
					letter-spacing: 0;
					border: 3px solid $subtle-light-grey;

					&:-webkit-autofill {
					    background-color: rgb(255,255,255) !important;
					}

					&:focus {
						border: 3px solid $light-keyline;
					}

					&.ng-invalid.ng-touched {
						border: 2px solid #FA787E;
					}
				}
			}
			
			.label {
				margin-bottom: 5px;
				display: block;
				font-family: $futura;
				color: #69666c;
				font-size: 0.889em;

				&.inline {
					display: inline-block;
				}
			}
		}
	

		.subscribe-col {

			@media screen and (min-width: $mobile + 1) {
				.form-subtitle {
					text-align: center;
				}

				.button {
					margin: auto;
					display: block;
				}	
			}			
		}		
	}

	

}

.article-links {

	position: relative;
	z-index: 9999;		
	min-height: 30px;

	a {
		font-family: $futura;
	}


	@media (max-width: $tablet) {	
		overflow: hidden;				
		padding: 15px 60px;			
	}

	.inner {
		@media (max-width: $mobile) {	
			padding: 0 20px;
		}
	}

	.article-nav {

		width: 20%;

		@media (max-width: $tablet) {
			width: 25%;
		}

		.icon {
			font-weight: bold;

			@media (max-width: 680px) {
				span {
					display: none;
				}					
			}				
		}
		
		&:hover {
			text-decoration: none;
		}	
	}		

	.icon:before,
	.icon:after {
		font-size: 25px;
		font-weight: normal;
		position: absolute;	
		top: -1px;			
	}

	.next-article{

		z-index: 999;
		text-align: right;
		padding-right: 20px;
		@include absolutly(20px,top,right);
		right: 0;

		@media (max-width: $tablet) {
			position: relative;
			top: auto;
			right: auto;
			float: right;
		}

		.icon {

			span {
				padding-right: 10px;
			}

			&:before {
				content: "";
			}

			&:after {
				right: 0;
				top: 0;
				font-size: 18px;
				content: "\e60b";
			}
		}
		
	}

	.prev-article{

		z-index: 999;
		text-align: left;
		padding-left: 20px;
		@include absolutly(20px,top,left);	
		left: 0;

		@media (max-width: $tablet) {
			position: relative;
			top: auto;
			right: auto;
			left: auto;
			float: left;
		}

		.icon {

			span {
				padding-left: 10px;
			}

			&:before {				
				font-size: 18px;
				top: 0;
				left: 0;				
			}	
		}
			
	}

	.prev-article span, 
	.next-article span {

		font-family: $futura;
		font-size: 15px;
		line-height: 1.4em;
		font-weight: 500;
		display: block;
	}
}

.title-small {
	font-family: $futura;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}	