

.single-post{

	//padding:30px 0;

	.container{

		overflow: hidden;
	}

	.article-links{

		position: relative;
		z-index: 9999;

		.next-article{

			width:12%;
			z-index: 999;
			@include absolutly(20px,top,left);
		}

		.prev-article{

			width:12%;
			z-index: 999;
			text-align:right;
			@include absolutly(20px,top,right);
		}
	}

	.article-body{

		@include shift("push",3);
		@include grid-col-last(6);

		p{

			text-align:justify;
		}

		blockquote{

			margin: 0 -13% 1em -13%;
			text-align:center;
		}

		img{

			float: left;
			margin: 0 1em 0 -13%;
			@extend .max;

			&.right{

				float: right;
				margin: 0 -13% 0 1em;
			}
		}

		@media screen and (max-width:$tablet){

			@include shift("push",1);
			@include grid-col-last(10);

			blockquote{

				text-align: left;
				margin-right:0;
				margin-left:0;
			}

			img{

				margin-left:0;

				&.right{

					margin-right:0;
				}
			}
		}

	}

	.article-current{

		background-color: white;

		&.turn{

			@include animation(pageTurn,linear,0.6s);
		}
	}

	.fold{

		display: none;
		background-color: white;
		z-index: 999;
		@include fitParent("",0,20px,0,20px);

		&.turnleft{

			display: block;
			@include animation(pageTurnLeft,linear,0.4s);

		}

		&.turnright{

			display: block;
			@include animation(pageTurnRight,linear,0.4s);
		}
	}

	.shadow{

		background-color:rgba(0,0,0,0.3);
		@include fitParent("",0,20px,0,20px);

		&.shad-left{

			opacity:0;

			&.turning{

				opacity: 1;
			}
		}
	}

}