#related-content{

	background-color:$subtle-light-grey;

	h4{

		margin:50px 0 0 0;
		font:{
			weight:500;
			size:1em;
		}
	}

	#tags{

		padding: 20px 0;

		li{

			display: inline-block;
			margin:0 10px 10px 0;

			a{
				
				display: block;
				padding:5px;
				text-transform: uppercase;
				background-color:white;
				color:$comment-grey;
				@include keyline(top right bottom left,$light-keyline);

				&.applied {

					border-color: $primary-orange;
					color:$primary-orange;
				}
			}

		}
	}
}