
<article class="single-post" ng-controller="article">

	<div class="container relative" ng-swipe-right="chooseArticle('prev')" ng-swipe-left="chooseArticle('next')">

		<div class="article-links">
			<a href="" ng-click="chooseArticle('next')" class="next-article">Lorem ipsum dolor sit.</a>
			<a href="" ng-click="chooseArticle('prev')" class="prev-article">Lorem ipsum dolor sit amet.</a>
		</div>

		<div class="article-current" ng-class="{turn:pageTurn}">

			<div class="grid-row">
				<div class="grid-6 push-3">
					<img class="max" src="http://placehold.it/800x392">
				</div>
			</div>

			<div class="grid-row">
				

				<div class="article-body">

					<h2>Lorem ipsum dolor sit.</h2>
					<h4 class="author">Lorem ipsum.</h4>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis impedit, in nihil recusandae error inventore tenetur. Aliquid quaerat sequi harum obcaecati dolorum illum non dolore esse, expedita perferendis numquam repellendus ipsa molestiae tempore laborum tenetur unde, iusto veniam suscipit?
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis impedit, in nihil recusandae error inventore tenetur. Aliquid quaerat sequi harum obcaecati dolorum illum non dolore esse, expedita perferendis numquam repellendus ipsa molestiae tempore laborum tenetur unde, iusto veniam suscipit?
					</p>

					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos neque laudantium nemo hic voluptatum illum saepe culpa asperiores dolores.
					</blockquote>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis impedit, in nihil recusandae error inventore tenetur. Aliquid quaerat sequi harum obcaecati dolorum illum non dolore esse, expedita perferendis numquam repellendus ipsa molestiae tempore laborum tenetur unde, iusto veniam suscipit?
					</p>

					<img src="http://placehold.it/368x368">

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis impedit, in nihil recusandae error inventore tenetur. Aliquid quaerat sequi harum obcaecati dolorum illum non dolore esse, expedita perferendis numquam repellendus ipsa molestiae tempore laborum tenetur unde, iusto veniam suscipit?
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis impedit, in nihil recusandae error inventore tenetur. Aliquid quaerat sequi harum obcaecati dolorum illum non dolore esse, expedita perferendis numquam repellendus ipsa molestiae tempore laborum tenetur unde, iusto veniam suscipit?
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis impedit, in nihil recusandae error inventore tenetur. Aliquid quaerat sequi harum obcaecati dolorum illum non dolore esse, expedita perferendis numquam repellendus ipsa molestiae tempore laborum tenetur unde, iusto veniam suscipit?
					</p>

				</div>

			</div>

		</div>

	</div>

</article>