#home{

	#banner{

		//background:grey;
		height: 492px;
		background-size: cover;
		background-position: 50% 50%;
		margin-bottom:30px;
		position: relative;

		@media screen and (max-width:$tablet){

			height: 320px;
		}

		@media screen and (max-width:$mobile){
			
			height: 200px;
		}

		.gradient{

			background-image:url(../images/banner-gradient.png);
			background-repeat:repeat-x;
			background-position:bottom left;
			@include fitParent;
		}

		.caption{

			position:absolute;
			bottom:0;
			z-index: 9999;

			h2,p{

				color:white;
			}

			.category{

				float: left;
				clear:both;
				letter-spacing: 2px;
				text-transform:uppercase;
				margin-bottom:10px;
				padding-bottom:10px;
				border-bottom:3px solid white;
				font: {
					family:$futura;
					weight:700;
				}
			}

			h2{

				margin-bottom:20px;
				font:{
					size:2.5em;
					weight:bold;
				}
				@include stack;
			}

			.excerpt{

				margin-bottom:30px;
				font:{
					style:italic;
					size:1.5em;
				}
				@include stack;
			}

			@media screen and (max-width:$tablet){

				font-size: 0.8em;
			}

			@media screen and (max-width:$mobile){
				
				font-size: 0.6em;

				.excerpt{

					display: none;
				}
			}
		}
	}

	#subscriber{

		@include stack;

		.subscribe-grid{

			@include grid-col(3);

			&:last-child{

				margin-right:0;
			}

			@media screen and (max-width:$tablet){

				@include grid-col(6);

				&:nth-of-type(even){

					margin-right:0;
				}
			}
		}

		&.locked{

			background-color:$locked-grey;

			.card{

				border-color:#c4c4c4;
			}
		}
	}

}