#home{

	#subscriber{

		@include stack;

		.title-icon {
			position: relative;
			height: 125px;
			padding: 30px 0 10px 0;
		}

		.icon-border {
			width: 66px;
			height: 90px;
			border-bottom: 4px solid black;
			position: absolute;		
			left: 50%;
			margin-left: -33px;

			&:before {
				font-size: 36px;
				position: absolute;
				left: 10px;
				top: 0;
				color: #706d73;
			}
		}

		.subscribe-grid{

			@include grid-col(3);

			&:last-child{

				margin-right:0;
			}

			@media screen and (max-width:$tablet){

				@include grid-col(6);

				&:nth-of-type(even){

					margin-right:0;
				}
			}
		}

		&.locked{

			background-color:$locked-grey;

			.card{

				border-color:#c4c4c4;
			}
		}
	}

}