<div class="accordian-column">
	<div class="accordian-item card-flat" ng-repeat="item in items">
		<div class="accordian-title" ng-click="toggleOpen($index);" ng-class="{open:item.isOpen}">
			<h3 class="futura"><a ng-href="{{item.section.link}}" ng-bind-html="item.section.name"></a></h3>
			<div class="toggler">
				<i class="icon icon-plus transition-2" ng-if="!item.isOpen"></i>
				<i class="icon icon-minus transition-2" ng-if="item.isOpen"></i>
			</div>
		</div>
		<div class="accordian-body" ng-class="{open:item.isOpen}">
			<div class="edition-item" ng-repeat="post in item.posts">
				<div class="padded">							
					<p class="title-small">{{post.author}}</p>
					<h4><a href="#">{{post.title}}</a></h4>
				</div>								
			</div>
		</div>
	</div>
</div>