// Import all the sass partials for compilation

// 1. PRE-DEFINED VARIABLES AND MIXINS
// =====================================================
@import

	// 1.1 Compass CSS3 support for vendor prefixng
	// --------------------------------------------
	"compass/css3",
	
	// 1.2 Common variables
	// --------------------------------------------
	"global/sass-globals/variables/light-theme",     
	"global/sass-globals/variables/default_settings",

	// 1.3 Mixins and helpers
	// --------------------------------------------
	"global/sass-globals/mixins/animations",
	"global/sass-globals/mixins/grid",
	"global/sass-globals/mixins/font-face",
	"global/sass-globals/mixins/forms",
	"global/sass-globals/mixins/helpers",
	"global/sass-globals/mixins/layout",
	"global/sass-globals/mixins/theme",
	"global/sass-globals/mixins/typography",
	"global/sass-globals/mixins/core";

// 2. CSS OUTPUTTERS
// =====================================================

	#tinymce{
		font-size: 18px;
		padding: 0 12%!important;

		p{

			text-align:justify;
		}

		ol,ul{

			margin-bottom:2em;
			padding-left:20px;

			li{

				line-height: 1.6em;
			}
		}

		ol li{

			list-style-type: decimal;
		}

		ul li{

			list-style: initial;
		}

		hr{

			height: 1px;
			width: 100%;
			border:0;
			background: $light-keyline;
		}

		blockquote{

			margin: 0 -10% 1em -10%;
			text-align:center!important;
		}

		@import"global/sass-globals/typography";
	}

// =====================================================