#main-header{

	$nav-height:52px;
	
	#header-top{

		.container{

			position:relative;
		}

		#brand{

			padding:30px 0;

			#logo{

				display: block;
				height: 60px;
				width: 106px;
				float: left;
				margin-right:20px;
			}

			.sub{

				margin-top:1px;
				margin-bottom:0;
				padding-right:130px;
				text-transform:uppercase;
				font:{
					weight:bold;
					size:1.2em;
				}
			}

			.strap{

				margin-top:3px;
				padding-right:130px;
				font: {
					style:italic;
				}
			}
		}

		#user{

			right:20px;

			&.tablet{

				width:110px;

				button{

					@extend .stack;

					&:first-child{

						margin-bottom: 10px;
					}
				}
			}
		}
	}

	nav{

		height: $nav-height;
		position:relative;
		display: block;

		@include keyline(top bottom,$light-keyline);

		ul{

			float: left;
			width:50%;

			li{

				display: inline-block;
				float: left;
				width: 33.3%;

				&.current-menu-item a{
					@include box-shadow(inset 0 -4px 0 $locked-grey);
				}

				a{
					
					text-align: center;
					display: block;
					line-height: $nav-height;
					font:{
						weight:500;
						family : $futura;
						size: 0.85em;
					}
					text-transform: uppercase;

					@extend .transition-1;
					@include keyline(left,$light-keyline);

					&:hover{

						text-decoration:none;
						@include box-shadow(inset 0 -4px 0 $primary-orange);
					}
				}

				&:last-child a {

					border-right-width:1px;
				}
			}
		}

		.search{

			$bnt-width : 50px;

			float: left;
			width:50%;
			position:relative;
			overflow: hidden;
			background-color:$subtle-light-grey;
			height: $nav-height;
			@include box-shadow(inset -1px 0 0 $light-keyline);

			label{

				position: absolute;
				line-height: $nav-height;
				text-transform:uppercase;
				left:20px;
				z-index: 999;
				font:{
					size:0.9em;
					weight:bold;
				}
				@extend .futura;
			}

			input[type="text"],input[type="search"]{
				
				border:0;
				background-color:$subtle-light-grey;
				text-transform:uppercase;
				position:relative;
				width: 100%;
				font:{
					size:0.9em;
				}
				@include boxSizing(16px 0 16px 100px);
				@extend .futura;

				&.tablet {

					padding-left:10px;
				}
			}

			.search-wrapper{

				@include fitParent("",0,$bnt-width,0,0);
				@include keyline(left,$light-keyline);

				&:before{

					height:1px;
					background-color:$light-keyline;
					z-index: 999;
					@include fitParent("", 40px,20px,auto,20px);
					@include afterBefore;
				}
			}

			button{

				position:absolute;
				top:0;
				right:0;
				width:$bnt-width;
				height:100%;
				background:none;
				border:none;
				color:black;
				padding:0;
				font-size: 1.3em;
				@include border-radius(0px);
			}
		}

		&.tablet{

			ul{

				width:75%;
			}

			.search{

				width: 25%;
			}
		}

		&.mobile{


		}
	}
}