// DIMENSIONS
// ==============================================
	$containerWidth : 1200px;
	$baseRounding   : 10px;
	$gridGuttering  : 2.5%;
	$loadingSize    : 5px;
	$loadingOffset  : 20px;

// FORM SETTINGS
// ==============================================
	$inputs       : "text" "email" "password" "url" "tel" "search" !default;
	$fmPadding    : 20px!default;
	$fmRounding   : 10px;

