.accordian{

	margin:60px 0;

	.accordian-title{

		cursor: pointer;
		padding:20px 0 10px 0;
		position:relative;
		@include keyline(bottom,$light-keyline);

		h3{

			padding-right:100px;
			text-transform: uppercase;
			color:$primary-orange;
			font:{
				weight:500;
				size:1em;
			}
		}

		.toggler{

			position:absolute;
			top:20px;
			right: 0;

			span{

				padding-right: 10px;

				font:{

					family:$futura;
					size:0.9em;
					weight:500;
				}
			}

			i {

				font-size: 1em;
				position:relative;
				top: 3px;
				@include transform(rotate(0deg));

				&.open{

					@include transform(rotate(45deg));
				}
			}
		}
	}

	.accordian-body{

		overflow: hidden;
		position:relative;
		left:100px;
		height:0;
		padding:0;
		opacity:0;

		hr{

			height: 1px;
			width: 100%;
			border:0;
			background: $light-keyline;
		}

		&.open{

			height: auto;
			left:0;
			padding: 30px 0;
			opacity:1;

			p{

				@include animation(fadeIn,ease,0.4s,20);
			}
		}
	}
}