#category, #discover{

	height:auto;

    #banner {

      .container {

        height: 100%;
        position: relative;

        .caption {

          max-width: 100%;

        }

      }

    }

	#featured-post{

		margin-bottom: 20px;
	}

	&.loading{

		height:800px;
	}

	#load-more{

		display: block;
		position: relative;
		height:100px;
		opacity: 0;
		@include animation(fadeInElement, ease, .5s, "", 1s);
	}

	.intro{

		padding-top:50px;
		padding-bottom:50px;

		p{

			font:{
				style:italic;
				size:1.2em;
			}
		}

		@media screen and (max-width:$tablet){	
			
			p{
				font-size: 1em;
			}
		}

		@media screen and (max-width:$mobile){	
			
			padding-top:30px;
			padding-bottom:20px;

			p{
				font-size: 0.85em;
			}
		}
	}
}