#category, #discover{

	height:auto;

	#featured-post{

		margin-bottom: 20px;
	}

	&.loading{

		height:800px;
	}

	#load-more{

		display: block;
		position: relative;
		height:100px;
	}

	.intro{

		padding-top:50px;
		padding-bottom:50px;

		p{

			font:{
				style:italic;
				size:1.2em;
			}
		}
	}
}