.card{

	background-color:white;
	margin-bottom:30px;
	position:relative;
	top:0;
	@include keyline(top right bottom left,$light-keyline);
	@include animation(fadeIn,ease,0.3s);
	@extend .transition-1;

	@media screen and (max-width:$tablet){

		margin-bottom:20px;
	}

	@media screen and (max-width:$mobile){
		
		margin-bottom:15px;
		font-size: 0.8em;
	}

	h3 {

		text-transform: uppercase;
		padding:12px 20px 5px 20px;
		font:{
			size:0.9em;
			weight:500;
		}

		a,
		&.futura {
			color: $primary-orange;
		}

		&.date{

			padding-right:190px;
		}

		.icon-key{

			float: right;
			color: $comment-grey;
			margin-top: -5px;
			font-size: 1.5em;
		}
	}

	h4{

		margin-bottom:10px;
		word-wrap: break-word;
		font:{
			size:1.5em;
			weight:bold;
			family: $times;
		}

		a:hover{

			color: $primary-orange;
			text-decoration:none;
		}
	}

	.post-date{

		color:$comment-grey;
	}

	p{

		font-size: 0.889em;
		line-height: 1.5em;

		@media screen and (max-width:$mobile) {
			font-size: 1.1em;
		}

		&.author{

			padding-bottom:10px;
			margin-bottom: 10px;
			@include keyline(bottom,$light-keyline);
		}
	}

	img{

		margin-bottom: 20px;
	}

	.padded{

		padding:0 20px 20px 20px;
	}

	.embed{

		margin-bottom: 20px;
	}

	footer{
		
		padding:10px 20px;
		background-color:$subtle-light-grey;
		position: relative;

		.sub{

			color: #706d73;
			margin-bottom: 0;
			font: {
				size:0.9em;
				weight:500;
				family: $futura;				
			}
			
			a {
				color: #706d73;
			}
		}

		&:after{

			$cut-out-size:30px;
			height:0;
			width: 0;
			border-left: $cut-out-size solid transparent;
			border-right: $cut-out-size solid white;
			border-bottom: $cut-out-size solid transparent;
			top:0;
			right:0;
			position:absolute;
			@include afterBefore;
		}

		p {
			letter-spacing: 0;
		}
	}

	&:hover{

		border-color:#ccc;
		top:-3px;
		@include box-shadow(0 5px 10px rgba(0,0,0,0.15));
	}

	&.private{

		background-color:$locked-grey;

		footer:after{
			border-right-color: $locked-grey;
		}
	}

	.mpu{

		overflow: hidden;
		min-height: 300px;
		position: relative;

		img{
		
			max-width: 100%!important;
			@include centre;
		}
	}
}

.tls-mansonry{

	@include grid-col(4);

	&:nth-child(3){

		margin-right:0;
	}
}

.card-flat {

	margin-bottom:30px;
	position:relative;
	top:0;
	@include keyline(top right bottom left,$dark-keyline);
	@include animation(fadeIn,ease,0.3s,10);
	@extend .transition-1;
	padding: 20px 30px;

	@media screen and (max-width:$tablet){

		margin-bottom:20px;
	}

	@media screen and (max-width:$mobile){
		
		margin-bottom:15px;
		font-size: 0.8em;
	}
}