<div ng-if="data.type == 'blog'">

	<div class="blog-item card" ng-repeat="blog in data">
		
		<h3 class="futura"><a href="#">Blog</a></h3>
		
		<div class="grid-row padded">			
			<div class="blog-avatar">
				<a href="#">
					<img class="max circular" src="http://placehold.it/90x90"/>
				</a>
			</div>

			<div class="blog-data">
				<div class="inner">
					<h4><a href="{{blog.link}}">{{blog.title}}</a></h4>
					<p class="futura"><a href="#">{{blog.author}}</a></p>
					<p ng-bind-html="blog.text"></p>
				</div>				
			</div>

		</div>	
	</div>
</div>


<div class="card" ng-if="data.type == 'article'" ng-class="{private:data.visibility == 'private'}">

	<div ng-if="!data.mpu">
		<h3 class="futura">
			<a ng-attr-href="{{data.section.link}}" ng-if="data.section.name" ng-bind-html="data.section.name"></a>			
			<i ng-if="data.visibility == 'private'" class="icon icon-key"></i>
		</h3>
		
		<img class="max" ng-if="data.image_url" ng-attr-src="{{data.image_url}}" />						
		
		<div class="padded">
			<h4><a ng-if="data.url" ng-attr-href="{{data.url}}" ng-bind="data.title"></a></h4>		
			<p ng-bind-html="data.excerpt"></p>
		</div>

		<footer>
			<p ng-if="data.author" class="futura" ng-bind="data.author"></p>	
		</footer>
	</div>


	<div class="mpu" ng-if="data.mpu">
		<script type="text/javascript" src="http://ad.uk.doubleclick.net/adj/tls.thesundaytimes/mainhomepage/index;pos=mpu;content_type=sec;sz=300x250;'+RStag + cipsCookieValue +'tile=1;'+categoryValues+'ord='+randnum+'?"></script>
	</div>

</div>



<div class="card" ng-if="data.type == 'listen_blog'">
	<h3 class="futura"><a href="#">{{data.section.name}}</a></h3>

	<div class="padded">
		<div class="embed" ng-bind-html="sce.trustAsHtml(data.soundcloud);"></div>
		<h4><a ng-href="{{data.link}}">{{data.title}}</a></h4>		
		<p ng-bind-html="data.text"></p>

	</div>
</div>


<div class="card" ng-if="data.type == 'mpu'">
	<div data-ng-dfp-ad="advert1"></div>
</div>
