<div ng-if="data.type == 'blog'">

	<h3 class="futura"><a href="#">Blog</a></h3>

	<div class="grid-row padded">
		
		<div class="grid-4">
			<a href="#"><img class="max circular" src="http://www.placecage.com/c/170/170"/></a>
		</div>

		<div class="grid-7 push-1">
			<h4><a href="#">{{data.heading}}</a></h4>
			<p><a href="#">{{data.author}}</a></p>
			<p><a href="#">{{data.subheading}}</a></p>
		</div>

	</div>
	
</div>


<div ng-if="data.type == 'article'">

	<h3 class="futura"><a href="#">{{data.category}}</a></h3>

	<a href="#"><img class="max" src="http://placehold.it/380x192"></a>

	<div class="padded">

		<h4><a href="#">derp</a></h4>
		<p><a href="#">{{data.excerpt}}</a></p>

	</div>

	<footer>
		<p class="sub"><a href="#">derp</a></p>
		<p class="futura"><a href="#">{{data.author}}</a></p>
	</footer>

</div>
