@import "compass/reset";

body{

	background:$theme-bg-colour;
	color:$theme-text-colour;
	font:{
		size:18px;
		family: $georgia;
	}

}

// ===============================================================
// CORE STYLES config - see mixins/_core.scss for implementation

	$core-config : (

		container   : $containerWidth,         // Creates a centralised .container class
		stack       : true,                    // Creates a stackable element class
		rounded     : 5px 10px 15px 20px,      // Loop to create rounded element classes
		borderBox   : true,                    // Adds .border-box class with vendor prefixes
		transitions : 0.25s 0.5s 0.75s 1s,     // Loop to create transition classes
		centre      : true,                    // Adds css3 centring classes
		fadeIn      : true                     // Adds satggering elements for the fadeIn animation
	);

	@include core($core-config);

// ===============================================================


@include grid(12,$gridGuttering,$mobile);


.max{
	max-width:100%;
}


.circular{
	@include border-radius(100%);
}

.loadingopacity{
	opacity: 0.3;
} 


section, article{
	
	min-height:800px;
}

#banner{

	background-color:grey;
	height: 492px;
	background-size: cover;
	background-position: 50% 50%;
	margin-bottom:30px;
	position: relative;

	a:hover {
		text-decoration: none;
		color: $primary-orange;
	}

	@include animation(fade,ease,1.5s);

	@media screen and (max-width:$tablet){

		height: 320px;
	}

	@media screen and (max-width:$mobile){
		
		height: 200px;
		margin-bottom: 15px;
	}

	.gradient{

		background-image:url(../images/banner-gradient.png);
		background-repeat:repeat-x;
		background-position:bottom left;
		@include fitParent;
	}

	.caption{

		position:absolute;
		bottom:0;
		z-index: 9999;
		padding-right: 30px;

		h2,p{

			color:white;
			@include animation(slideUp,ease,1s,2,"",0.7s);

			a:hover{

				color:white;
				text-decoration:underline;
			}
		}

		.category{

			float: left;
			clear:both;
			letter-spacing: 2px;
			text-transform:uppercase;
			margin-bottom:10px;
			padding-bottom:10px;
			border-bottom:3px solid white;
			font: {
				family:$futura;
				weight:700;
			}
		}

		h2{

			margin-bottom: 15px;
			font:{
				size:2.5em;
				weight:bold;
				family: $times;
			}
			@include stack;
		}

		.excerpt{

			margin-bottom:30px;
			font:{
				style:italic;
				size: 1.333em;
				family: $times;
			}
			@include stack;
		}

		@media screen and (max-width:$tablet){

			font-size: 0.8em;
		}

		@media screen and (max-width:$mobile){
			
			font-size: 0.6em;

			.excerpt{

				display: none;
			}
		}
	}
}




