
fieldset{

	@include boxSizing(0 0 40px 0);
	@include stack;
}


textarea{

	font-family:$futura;
	margin:0;
	outline: none;
	border:1px solid $light-keyline;

}

@if $inputs {

	input{
	
		@each $input in $inputs {
			&[type=#{$input}]{
				@extend textarea;
			}
		}

	}

}



