@font-face {
	font-family: 'icomoon';
	src:url('/wp-content/themes/tls/fonts/icomoon.eot?-2r7o3');
	src:url('/wp-content/themes/tls/fonts/icomoon.eot?#iefix-2r7o3') format('embedded-opentype'),
		url('/wp-content/themes/tls/fonts/icomoon.woff?-2r7o3') format('woff'),
		url('/wp-content/themes/tls/fonts/icomoon.ttf?-2r7o3') format('truetype'),
		url('/wp-content/themes/tls/fonts/icomoon.svg?-2r7o3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
	content: "\e600";
}

.icon-cross:before {
	content: "\e601";
}

.icon-dropdown:before {
	content: "\e602";
}

.icon-email:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\e604";
}

.icon-key:before {
	content: "\e605";
}

.icon-left-arrow:before {
	content: "\e606";
}

.icon-login:before {
	content: "\e607";
}

.icon-padlock:before {
	content: "\e608";
}

.icon-plus:before {
	content: "\e609";
}

.icon-print:before {
	content: "\e60a";
}

.icon-right-arrow:before {
	content: "\e60b";
}

.icon-search:before {
	content: "\e60c";
}

.icon-twitter:before {
	content: "\e60d";
}