#comments{

	padding-top:20px;
	padding-bottom:50px;

	.comment-wrap{

		@include shift("push",3);
		@include grid-col-last(6);
		@include keyline(top,$light-keyline);

		@media screen and (max-width:$tablet){

			@include shift("push",1);
			@include grid-col-last(10);
		}

		h3{

			text-transform:uppercase;
			margin-bottom:20px;
			margin-top:30px;
			font:{
				weight:500;
				size:1em;
			}
		}

		.comment{

			padding-bottom:20px;
			margin-bottom:20px;
			@include keyline(bottom,$light-keyline);

			.thumb-wrapper{

				float: left;
				margin-right:20px;
			}

			h4{

				font:{
					weight:500;
					size:1em;
				}
			}

			p{

				color:$comment-grey;
				padding-left: 105px;
				font:{

					family:$futura;
					size:0.9em;
				}
			}
		}
	}
}