#comments {

	padding-bottom:50px;

	.comment-wrap{

		@include shift("push",3);
		@include grid-col-last(6);
		@include keyline(top,$light-keyline);

		@media screen and (max-width:$tablet){

			@include shift("push",1);
			@include grid-col-last(10);
		}

		h3{

			text-transform:uppercase;
			margin-bottom:20px;
			margin-top:30px;
			font:{
				weight:500;
				size:1em;
			}
		}

		#commentform {

			.form-element {
				margin-bottom: 25px;
			}

			small {
				font-size: .7em;
			}

			label {
				display: block;
				margin-bottom: 5px;
			}

			.required {
				font-size: .7em;
				padding-top: 15px;
				font-style: italic;
			}

			input[type="text"] {
				height: 20px;
				padding: 5px;
				width: 50%;

				@media screen and (max-width: $tablet) {
					width: 100%;
				}
			}

			#comment {
				width: 100%;
				padding: 10px;
			}

			input[type="text"],
			#comment {
				font-family: $georgia;
				font-size: .8em;
			}
		}

		#comments-list {
			margin-top: 50px;
		}

		.comment{

			padding-bottom:20px;
			margin-bottom:20px;
			overflow: hidden;
			@include keyline(bottom,$light-keyline);

			.thumb-wrapper{

				float: left;
				margin-right:20px;
			}

			h4{

				letter-spacing: 0;
				margin-bottom: 5px;
				font:{
					weight:500;
					size:1em;
				}
			}

			p{
				color:$comment-grey;
				letter-spacing: 0;
				font:{

					family:$futura;
					size:0.9em;
				}

				&.date {
					font-size: .8em;
				}
			}

			.comment-content {
				margin-top: 15px;
			}
		}
	}

	.comment-msg {		
		padding: 10px;
		text-align: center;
		font-size: 90%;

		&.error {
			color: #A01616;
			background-color: #FDEEEE;
		}
	}
}