#loading{

	// position:fixed;
	// width:100%;
	// z-index:999;

	ul {

		text-align: center;

		li{

			display: inline-block;
			position: relative;
			height: $loadingOffset;
			width: $loadingSize;
			margin: 0 2px;

			b{
				position:absolute;
				height:$loadingSize;
				width:$loadingSize;
				background: #333;
				
				@include border-radius(2px);
				@include animation(loading,ease,1s,"","",infinite);
			}
		}
	}

	.flipper{

		position:relative;
		height:62px;
		width:42px;

		@include scale(0.5);

		.flip{

			$timing : 0.2s;

			position:absolute;
			overflow: hidden;

			&.next-flip{

				display: none;

				&.flipping{

					display: block;
				}
			}

			&.next-flip.flipping.hori{

				@include animation(flip-h-next,ease,$timing);
			}

			&.curr-flip.flipping.hori{

				@include animation(flip-h-curr,ease,$timing);
			}

			&.next-flip.flipping.vert{

				@include animation(flip-h-next,ease,$timing);
			}

			&.curr-flip.flipping.vert{

				@include animation(flip-h-curr,ease,$timing);
			}
		}
	}
}